body {
  font-family: 'Arial', sans-serif;
  background-color: #3498db;
  color: #fff;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling */
  position: relative;
  background-image: url('/images/123.jpg'); /* Set the background image */
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 28px; /* Larger title */
}

.search-form {
  margin-top: 20px;
}

.search-input {
  padding: 10px;
  font-size: 18px; /* Larger font size */
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
}

.search-button {
  padding: 12px 24px; /* Larger button */
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px; /* Larger font size */
  cursor: pointer;
}

.card {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.weather-icon {
  margin-bottom: 20px;
}

.fa-thermometer-half {
  color: #f39c12; /* Thermometer icon color */
}

.temperature, .condition, .location {
  font-size: 20px; /* Larger font size */
  margin: 10px 0;
}

.error {
  color: #e74c3c;
  font-size: 20px;
  margin: 20px 0;
}

.sun {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3; /* Reduced opacity */
  pointer-events: none; /* Prevent interactions with the sun overlay */
  animation: sunMove 20s infinite alternate linear;
}

@keyframes sunMove {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(20px);
  }
}
